* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color:  rgb(228, 218, 199);
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-container{
    padding: 2rem;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border:3px solid #A76D4D;
    border-radius: 1rem;
    h1{
        font-size: 2rem;
    }
}

.answers-container{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

#next-btn{
    margin-top: 0.8rem;
    background-color:  #4E3B31;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 1rem 1rem;
    cursor: pointer;
}

#next-btn:hover{
    background-color: #4e3b31be;
}

.option-btn{
    background-color: #A76D4D;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.option-btn:hover{
    background-color: #a76d4dc3;
}

.correct{
    background-color: green;
}

.wrong{
    background-color: red;
}